<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="staticBackdropLabel1">How to get GitHub Key</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <ul>
        <li>Login to your GitHub Account</li>
        <li>Click on the Profile Icon on the top right</li>
        <li>Select Settings<br/><img src='/assets/Help/Git/settings.png' style="height: 200px;"></li>
        <li>Scroll down to find the Developer Setting on the left bottom<br/><img src='/assets/Help/Git/ds.png' style="height: 47px;"></li>
          <li>Select Tockens(Classsic) under Personal Access Tokens<br/><img src='/assets/Help/Git/pat.png' style="height: 90px;"></li>
          <li>Click on Generate New Token ( Classic ) under Generate New Token</li>
          <li>Use Below Details</li>
            <ul>
              <li>Note : In Use by Familyman.in</li>
              <li>Expiration : No expiration</li>
              <li>Scope : Check Repo.<br/><img src='/assets/Help/Git/permission.png' ></li>
            </ul>
          <li>Click on Generate Token</li>
        </ul>
      </div>
    </div>
</div>